*{
    margin: 0;
    padding: 0;
    text-align: center;
}

html,body{
    height: 100%;
}

h1{
    background-color:#1F2937;
    color:aliceblue;
    height: 4rem;
    line-height: 4rem;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;    
}

.calculator{
    border: 3px solid black;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15);
}

.p1,.p2{
    font-family: serif;
    text-align: left;
}
.p1{
    font-size: 45px;
}
.p2{
    font-size: 15px;
    margin-bottom: 10px;
}

button{
    padding: 15px 20px;
    font-size: 20px;
    background-color: aliceblue;
    margin: 2px;
    border-radius: 8px;
    width: 55px;
}

button:hover{
    background-color: grey;

 }

.display{
    font-size: 40px ;
    margin-bottom: 8px;
    text-align: right;
    border: 2px solid black;
    border-radius: 8px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}